
@model  Promact.Trappist.DomainModel.ApplicationClasses.Account.ResetPassword
@{
    Layout = "_BeforeLoginLayout";
}

<div class="form-area">
    <div class="titlebar">
        <h1>Reset Password</h1>
    </div>
    <form asp-controller="Account" asp-action="ResetPaasword" method="post">
        <div class="form-group">
            <input asp-for="Password" class="form-control" placeholder="New Password" autocomplete="off" reqired=""/>
            <span asp-validation-for="Password" class="error-msg"></span>
        </div>
        <div class="form-group">
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" autocomplete="off" required=""/>
            <span asp-validation-for="ConfirmPassword" class="error-msg"></span>
        </div>
        <div class="actions-area">
            <button type="submit" class="btn btn-primary mb0">Submit</button>
        </div>
    </form>
</div>
