<div class="basic-setup">
    <div class="setup-content">
        <div class="logo-area">
            <img src="../../images/logo.png" alt="Logo" />
        </div>
        <div class="wizard-area">
            <form-wizard #setup>
                <wizard-step [title]="1">
                    <h2>Setup the Database by providing a connection string</h2>
                    <form>
                        <div class="form-group">
                            <label class="h4">Connection String</label>
                            <input required type="text" class="form-control" name="connectionstring" [(ngModel)]="connectionstring" />
                            <p class="help-text">format help: server="servername";database="databasename";integrated security="true"</p>
                        </div>
                        <div class="action-buttons">
                            <button type="button" class="btn btn-primary" (click)="validateConnectionString(setup,connectionstring)">Next</button>
                            <span class="error-msg" *ngIf="errorMessage">Invalid ConnectionString</span>
                        </div>
                    </form>
                </wizard-step>
                <wizard-step [title]="2">
                    <h2>Configure Email Settings</h2>
                    <form #EmailSettingsForm="ngForm">
                        <div class="form-group">
                            <label class="h4">Server Name</label>
                            <input required type="text" class="form-control" [(ngModel)]="server" name="tempServer" #tempServer="ngModel" />
                            <span *ngIf="tempServer.touched && !tempServer.valid && tempServer.errors.required" class="error-msg">*required</span>
                        </div>
                        <div class="form-group">
                            <label class="h4">Port</label>
                            <input required type="number" class="form-control" [(ngModel)]="port" name="tempPort" #tempPort="ngModel" />
                            <span *ngIf="tempPort.touched && !tempPort.valid && tempPort.errors.required" class="error-msg">*required</span>
                        </div>
                        <div class="form-group">
                            <label class="h4">User Name</label>
                            <input required type="text" class="form-control" [(ngModel)]="userName" name="tempUserName" #tempUserName="ngModel" />
                            <span *ngIf="tempUserName.touched && !tempUserName.valid && tempUserName.errors.required" class="error-msg">*required</span>
                        </div>
                        <div class="form-group">
                            <label class="h4">Password</label>
                            <input required type="password" class="form-control" [(ngModel)]="password" name="tempEmailPassword" #tempEmailPassword="ngModel" />
                            <span *ngIf="tempEmailPassword.touched && !tempEmailPassword.valid && tempEmailPassword.errors.required" class="error-msg">*required</span>
                            <span class="error-msg" *ngIf="errorMessage">Invalid EmailSettings</span>
                        </div>
                        <div class="action-buttons">
                            <button type="button" class="btn" (click)="previousStep1(setup)">Previous</button>
                            <button type="button" class="btn btn-primary" [disabled]="!EmailSettingsForm.form.valid" (click)="validateEmailSettings(setup,server,port,userName,password)">Next</button><br />
                        </div>
                    </form>
                </wizard-step>
                <wizard-step [title]="3">
                    <h2>Set up Administrator user</h2>
                    <form #CreateUserForm="ngForm">
                        <div class="form-group">
                            <label class="h4">Name</label>
                            <input required pattern="^[a-zA-Z_ ]*$" type="text" class="form-control" [(ngModel)]="nameOfUser" name="tempName" #tempName="ngModel" maxlength="150" />
                            <span *ngIf="tempName.touched && !tempName.valid && tempName.errors.pattern" class="error-msg">Invalid Name</span>
                            <span *ngIf="tempName.touched && !tempName.valid && tempName.errors.required" class="error-msg">*required</span>
                        </div>
                        <div class="form-group">
                            <label class="h4">Email/User Name</label>
                            <input required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{3}" type="text" class="form-control" [(ngModel)]="email" name="tempEmail" #tempEmail="ngModel" maxlength="255" />
                            <span *ngIf="tempEmail.touched && !tempEmail.valid && tempEmail.errors.pattern" class="error-msg">Invalid Email Address</span>
                            <span *ngIf="tempEmail.touched && !tempEmail.valid && tempEmail.errors.required" class="error-msg">*required</span>
                        </div>
                        <div class="form-group">
                            <label class="h4">Password</label>
                            <input required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,14}$" type="password" class="form-control"
                                   [(ngModel)]="passwordOfUser" name="tempPassword" #tempPassword="ngModel" />
                            <span *ngIf="tempPassword.touched && !tempPassword.valid && tempPassword.errors.pattern" class="error-msg">Invalid Password</span>
                            <span *ngIf="tempPassword.touched && !tempPassword.valid && tempPassword.errors.required" class="error-msg">*required</span>
                        </div>
                        <div class="form-group">
                            <label class="h4">Confirm Password</label>
                            <input required type="password" class="form-control" [(ngModel)]="confirmPassword"
                                   name="tempConfirmPassword" #tempConfirmPassword="ngModel" (change)="isValidPassword(passwordOfUser,confirmPassword)" />
                            <span class="error-msg" *ngIf="errorMessage && errorMessage.touched">Invalid User Credential</span>
                            <span *ngIf="tempConfirmPassword.touched && !tempConfirmPassword.valid && tempConfirmPassword.errors.required" class="error-msg">*required</span><br />
                            <span class="error-msg" *ngIf="!confirmPasswordValid&&tempConfirmPassword.touched">Password and ConfirmPassword mismatched</span>
                        </div>
                        <div class="action-buttons">
                            <button type="button" class="btn" (click)="previousStep2(setup)">Previous</button>
                            <button type="button" class="btn btn-primary" [disabled]="!CreateUserForm.form.valid" (click)="createUser(setup,nameOfUser,email,passwordOfUser,confirmPassword)">Finish</button>
                        </div>
                    </form>
                </wizard-step>
            </form-wizard>
        </div>
    </div>
    <footer>Copyright &copy;2017 Promact Infotech Pvt. Ltd. All Rights Reserved.</footer>
</div>

<!--<button (click)="navigateToLogin()">Click</button>-->
